@import './base/reset';
@import './base/mixins';
@import './base/vars';

body {
    width: 100%;
    background-color: $white;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 51px;
    padding: 31px 51px;
    margin-bottom: 129px;
}
.nav {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__list {
        display: flex;
        flex-direction: row;
        gap: 45px;
        margin-top: 10px;
    }
    &__item {
        @include roboro-dark400 ($dark, $font, $fw-small);
        line-height: 20px;
        font-size: 15px;
    }
}
.btn-container {
    display: flex;
    gap: 10px;
}
.btn {
    text-align: center;
    font-family: $font;
    font-size: 16px;
    font-weight: $fw-big;
    line-height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    max-width: 51%;
    padding: 5px 36px;
    &--orange {
        background-color: $red;
        border-color: $red;
        color: $white;
        padding: 10px 32px;
    }
}
.section1 {
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    margin-bottom: 147px;
    .btn {
        padding: 10px 40px;

        &--orange {
            padding: 20px 42px;
        }
    }
}
.section1__container {
    display: flex;
    flex-direction: column;
    gap: 51px;
}
.section1__title {
    @include roboro-dark600 ($dark, $font, $fw-big);
        line-height: 70px; 
        font-size: 65px;
        width: 103%;
}
.section1__big-text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    line-height: 35px;
    font-size: 25px;
    width: 100%;
}
.section1__small-text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    line-height: 25px;
    font-size: 15px;
    margin-top: -25px;
}
.section2 {
    margin-bottom: 100px;
    width: 100%;
    padding: 60px 80px;
    background-color: $bg-red;
}
.section2__container {
    display: flex;
    flex-direction: column;
}
.title {
    @include roboro-dark600 ($dark, $font, $fw-big);
    margin: 98px 380px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 75%;
    line-height: 60px;
    font-size: 50px;
}
.section2__svg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 103px;
}
.section3 {
    display: flex;
    flex-direction: column;
    gap: 250px;
    margin-bottom: 150px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 47px 5.5px 75px;
    .text--container2 {
        padding: 5.5px 0px 71px 137.906px;
    }
}
.section3__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    .title--min-width {
        width: 60%;
    }
    .text--min-width {
        width: 57%;
    }
    .text--min-width2 {
        width: 53%;
    }
    .text--min-width3 {
        width: 78%;
    }
}
.section3__title {
    @include roboro-dark600 ($dark, $font, $fw-big);
    width: 50%;
    font-size: 50px;
    line-height: 60px;
}
.section3__text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    width: 50%;
    font-size: 20px;
    line-height: 30px;
}
.text-wrap {
    text-decoration-line: underline;
}
.section3__link-text {
    @include roboro-dark600 ($dark, $font, $fw-big);
    font-size: 20px;
    line-height: 30px;
}
.Ensure--quality {
    width: 72%;
}
.section4 {
    padding: 100px 20px;
    width: 100%;
    background-color: $bg-bodily;
}
.section4__title {
    width: 80%;
    margin-bottom: 58px;
}
.section4__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 75px;
    padding-left: 150px;
}
.box {
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.box-element {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 25%;
}
.box-elelment__img {
    width: 50%;
    margin: 0px 80px;
}
.box-element__title {
    @include roboro-dark600 ($dark, $font, $fw-big);
    text-align: center;
    font-size: 25px;
    line-height: 35px;
}
.box-element__text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}
.section5 {
    background-color: $white;
    .container {
        display: flex;
        flex-direction: column;
    }
}
.title {
    margin: 154px 154px;
}
.section5__container {
    display: flex;
    flex-direction: row;
    gap: 31px;
}
.section5__box {
    display: flex;
    flex-direction: column;
    gap: 35px;
    .developers {
        width: 179px;
    }
    .developers--text {
        margin-top: 32px;
    }
    .translators--text {
        margin-top: 50px;
    }
}
.managers {
    width: 145px;
}
.section5__title {
    @include roboro-dark600 ($dark, $font, $fw-big);
    font-size: 30px;
    line-height: 40px;
}
.section5__text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    width: 409px;
    font-size: 20px;
    line-height: 30px; 
}
.section5__item {
    text-decoration-line: underline;
}
.section5__link {
    @include roboro-dark400 ($dark, $font, $fw-small);
    font-size: 20px;
    line-height: 30px;
}
.section6 {
    display: flex;
    flex-direction: row;
    background-color: $bg-blue;
    padding: 75px 53px;
}
.section6__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section6__text1 {
    width: 73%;
    @include roboro-dark400 ($dark, $font, $fw-small);
    font-size: 30px;
    line-height: 40px;
}
.section6__text2 {
    @include roboro-dark400 ($dark, $font, $fw-small);
    font-size: 15px;
    line-height: 25px; 
}
.section6__svg {
    width: 10%;
}
.section7 {
    padding: 70px 0px;
    background-color: $bg-broun;
}
.section7--box {
    width: 58%;
    margin-right: 70px;
    border-right: 2px solid #000;
}
.section7__box {
    display: flex;
    flex-direction: row;
    gap: 67px;
}
.section7__title {
    display: flex;
    @include roboro-dark600 ($dark, $font, $fw-big);
    width: 64%;
    font-size: 35px;
    line-height: 50px; 
    align-items: center;
    justify-content: center;
}
.section7__content-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section7--box2 {
    width: 10%;
}
.section7__content-text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    width: 128%;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
}
.section8 {
    display: flex;
    flex-direction: column;
    padding-top: 169px;
    .btn {
        margin-left: 569px;
        max-width: 17%;
        padding: 15px 8px;
    }
}
.section8__title {
    @include roboro-dark600 ($dark, $font, $fw-big);
    text-align: center;
    font-size: 65px;
    line-height: 75px;
}
.section8__text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
}
.section8__img-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 32px;
}
.section8__img {
    width: 90%;
}
.section9 {
    margin-top: 162px;
    padding: 328px 119px;
    background-color: $bg-red;
    .btn {
        width: 13%;
        padding: 10px 40px;

        &--black {
            margin: 20px 490px;
            padding: 15px 42px;
            background-color: $dark;
            color: $white;
        }
    }
}
.section9__title {
    @include roboro-dark600 ($dark, $font, $fw-big);
    text-align: center;
    font-size: 65px;
    line-height: 75px;
}
.section9__text {
    margin: 29px 0px;
    @include roboro-dark400 ($dark, $font, $fw-small);
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 92px 75px 48px 75px;
    width: 100%;
    background-color: $bg-footer;
}
.footer__wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-bottom: 1px solid #000;
    padding-bottom: 95px;
}
.footer__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__title {
    @include roboro-dark600 ($dark, $font, $fw-big);
    font-size: 40px;
    line-height: 50px;
}
.footer__img {
    width: 60%;
    border: 1px solid #000;
}
.footer__svg {
    width: 20%;
}
.footer__text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    font-size: 20px;
    line-height: 30px;
    width: 50%;
}
.footer__link {
    @include roboro-dark600 ($dark, $font, $fw-big);
    font-size: 20px;
    line-height: 30px;
}
.footer__container-links {
    display: flex;
    flex-direction: column;
}
.footer__container-title {
    display: flex;
    flex-direction: row;
    gap: 120px;
}
.footer__title-link {
    @include roboro-dark600 ($dark, $font, $fw-big);
    font-size: 20px;
    line-height: 25px; 
}
.footer__container-link {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 21px 75px 0px 0px;
}

.footer__link-item {
    display: flex;
    @include roboro-dark400 ($dark, $font, $fw-small);
    font-size: 15px;
    line-height: 15px;
    width: 150%;
}
.footer__container-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.link--paddingless1 {
    padding: 21px 27px 0px 0px;
}
.link--paddingless2 {
    padding: 21px 40px 0px 0px;
}
.item--width {
    width: 150%;
}
.footer__last-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 53px 0px 0px 0px;
}
.footer__last-box1 {
    display: flex;
    flex-direction: row;
    gap: 14px;
}
.footer__localization-text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    font-size: 12px;
    line-height: 15px;
    width: 50%;
}
.footer__last-box2 {
    display: flex;
    flex-direction: column;
}
.footer__last-text {
    @include roboro-dark400 ($dark, $font, $fw-small);
    font-size: 12px;
    line-height: 15px;
}